body {
	font-family: Helvetica;
	border: 1px solid #aaa;
	width: 320px;
	height: 568px;
}

#header {
	font-size: 1.0em;
	color: black;
	width: 320px;
	height: 30px;
	padding: 10px 0px 0px 0px;
	background: #eee;
	border-bottom: 1px solid #ddd;
}

#header span {
	margin: 0px 0px 0px 125px;
}

#display {
	width: 320px;
	height: 80px;
	padding: 20px 0px 20px 0px;
}

#lapDisplay {
	font-size: 1.0em;
	color: gray;
	width: 80px;
	margin: 0px 45px 0px 0px;
	float: right;
}

#mainDisplay {
	font-size: 3.0em;
	color: black;
	width: 240px;
	margin: 0px 0px 0px 35px;
	float: left;
}

#buttons {
	height: 80px;
	background: #eee;
	padding: 20px 40px 0px 40px;
	border-top: 1px solid #ddd;
}

button {
	height: 56px;
	width: 56px;
	background: white;
	border: none;
	border-radius: 28px;
}

button.hidden {
	display: none;
}

#start {
	color: green;
	float: left;
}

#stop {
	float: left;
}

#lap {
	float: right;
}

#reset {
	float: right;
}

#laps {
	height: 288px;
	background: #eee;
	border: 1px solid #eee;
	margin: 0px 0px 0px 00px;
}

#lap-label {
	float: left;
}

#lap-time {
	float: right;
}

li {
	height: 20px;
	list-style: none;
	padding: 0px 0px 0px 0px;
	margin: 10px 20px 0px -20px;
	border-bottom: 1px solid #ccc;
}